* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/fondo.png);
    background-size: 80px;
    color: white;
    font-family: Arial, sans-serif;
    cursor: url(img/cursors/aim.png) 16 16 , auto;
}

.game-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Play Button */
.play-now {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background: linear-gradient(135deg, #63e0ff, #2376d4);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.game-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: white;
    z-index: 1000;
}

.game {
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
}

.enemy-container {
    position: absolute;
    width: 100px;
    height: 150px; /* Altura extra para incluir la barra de vida */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lifebar {
    width: 80%;
    height: 20px;
    margin-bottom: 5px;
}

.bicho {
    width: 100px;
    height: 100px;
    background-size: cover;
    animation: bichoWalk 0.3s steps(1) infinite;
    cursor: url(img/cursors/shoot.png) 16 16, auto;
}
@keyframes bichoWalk {
    0%, 33% {
        background-image: url(img/bicho/Bicho2.png);
    }
    34%, 66% {
        background-image: url(img/bicho/Bicho1.png);
    }
    67%, 100% {
        background-image: url(img/bicho/Bicho8.png);
    }
}
@keyframes bichoDeath {
    0%, 20% {
        background-image: url(img/soldier/soldierDeath1.png);
    }
    21%, 40% {
        background-image: url(img/soldier/soldierDeath2.png);
    }
    41%, 60% {
        background-image: url(img/soldier/soldierDeath3.png);
    }
    61%, 80% {
        background-image: url(img/soldier/soldierDeath4.png);
    }
    81%, 90% {
        background-image: url(img/soldier/soldierDeath5.png);
    }
    91%, 100% {
        background-image: url(img/soldier/soldierDeath7.png);
    }
}
.fly {
    width: 60px;
    height: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: flyFly 0.3s steps(1) infinite alternate;
    cursor: url(img/cursors/shoot.png) 16 16, auto;
}
@keyframes flyFly {
    0%, 33% {
        background-image: url(img/fly/fly1.png);
    }
    34%, 66% {
        background-image: url(img/fly/fly2.png);
    }
    67%, 100% {
        background-image: url(img/fly/fly3.png);
    }
}
@keyframes flyDeath {
    0%, 12% {
        background-image: url(img/fly/death1.png);
    }
    13%, 24% {
        background-image: url(img/fly/death2.png);
    }
    25%, 36% {
        background-image: url(img/fly/death3.png);
    }
    37%, 48% {
        background-image: url(img/fly/death4.png);
    }
    49%, 60% {
        background-image: url(img/fly/death5.png);
    }
    61%, 72% {
        background-image: url(img/fly/death6.png);
    }
    73%, 84% {
        background-image: url(img/fly/death7.png);
    }
    85%, 92% {
        background-image: url(img/fly/death8.png);
    }
    93%, 100% {
        background-image: url(img/fly/death9.png);
    }
}
.tank{
    width: 120px;
    height: 120px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: tankMove 0.3s steps(1) infinite alternate;
    cursor: url(img/cursors/shoot.png) 16 16, auto;
}
@keyframes tankMove {
    0%, 33% {
        background-image: url(img/tank/tank2.png);
    }
    34%, 66% {
        background-image: url(img/tank/tank1.png);
    }
    67%, 100% {
        background-image: url(img/tank/tank3.png);
    }
}
@keyframes tankDeath {
    0%, 10% {
        background-image: url(img/tank/death1.png);
    }
    11%, 20% {
        background-image: url(img/tank/death2.png);
    }
    21%, 30% {
        background-image: url(img/tank/death3.png);
    }
    31%, 40% {
        background-image: url(img/tank/death4.png);
    }
    41%, 50% {
        background-image: url(img/tank/death5.png);
    }
    51%, 60% {
        background-image: url(img/tank/death6.png);
    }
    61%, 70% {
        background-image: url(img/tank/death7.png);
    }
    71%, 80% {
        background-image: url(img/tank/death8.png);
    }
    81%, 90% {
        background-image: url(img/tank/death9.png);
    }
    91%, 100% {
        background-image: url(img/tank/death10.png);
    }
}

.lives-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); 
    z-index: 100;
}
#score{
    position: fixed;
    top: 20px; 
    left: 50%;
    transform: translateX(-50%); 
    z-index: 100;
}
.lives-container img {
    width: 150px; 
    height: auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
}


#game-over{
    display: none;
    background-color: rgb(70, 70, 70);
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#game-over > div img{
    height: 100px;
    width: 100px;
    margin: 40px;
    cursor: pointer;

}

/* Puntos Animados */
.points-display {
    position: absolute;
    top: -20px;
    font-size: 28px;
    font-weight: bold;
    color: rgb(255, 0, 221);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    -webkit-text-stroke:2px white;
    text-stroke: 2px white;
    animation: pointsMoveUp 1s ease-out forwards;
    text-align: center;
    opacity: 0.9;
}

.mult-display {
    position: absolute;
    top: -20px;
    font-size: 28px;
    font-weight: bold;
    color: rgb(195, 255, 0);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    -webkit-text-stroke:2px white; 
    text-stroke: 2px white; 
    animation: pointsMoveUp 1s ease-out forwards;
    text-align: center;
    opacity: 0.9;
}

/* Animación de Movimiento hacia Arriba de los Puntos */
@keyframes pointsMoveUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}
h2{
    color: red;
    font-size: 30px;
}
#restart img{
    transition: all 1s ease;
}
#restart img:hover{
    transform: rotate(360deg);
}
